<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt tellus eget malesuada molestie. Nunc faucibus lectus mi, nec euismod dolor auctor ac. Duis varius, enim a tincidunt ultricies, ex lectus tempor nibh, vitae hendrerit purus tortor at ipsum. Duis ac euismod diam, eu ultrices velit. Donec auctor nec augue sed laoreet. Morbi laoreet lacus in ipsum elementum molestie. Etiam auctor ultricies dignissim. Vestibulum nisi leo, eleifend at elit eget, molestie mattis orci.</p>
  <br />
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt tellus eget malesuada molestie. Nunc faucibus lectus mi, nec euismod dolor auctor ac. Duis varius, enim a tincidunt ultricies, ex lectus tempor nibh, vitae hendrerit purus tortor at ipsum. Duis ac euismod diam, eu ultrices velit. Donec auctor nec augue sed laoreet. Morbi laoreet lacus in ipsum elementum molestie. Etiam auctor ultricies dignissim. Vestibulum nisi leo, eleifend at elit eget, molestie mattis orci.</p>

  <div class="col-xs-12 col-sm-4">
      <%= image_tag 'evil.jpg', :class => 'img-responsive' %>
    </div>

    <div class="col-xs-12 col-sm-7 col-sm-offset-1">
      <h2 class="text-center">Bryan Cheng</h2>
      <br />
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt tellus eget malesuada molestie. Nunc faucibus lectus mi, nec euismod dolor auctor ac. Duis varius, enim a tincidunt ultricies, ex lectus tempor nibh, vitae hendrerit purus tortor at ipsum. Duis ac euismod diam, eu ultrices velit. Donec auctor nec augue sed laoreet. Morbi laoreet lacus in ipsum elementum molestie. Etiam auctor ultricies dignissim. Vestibulum nisi leo, eleifend at elit eget, molestie mattis orci.</p>
      </p>
    </div>
  </div>
</div>
